/*#map-europe {*/
    /*float: left;*/
    /*width: 50%;*/
/*}*/

/*#demo-agents {*/
    /*float: left;*/
    /*width: 50%;*/
/*}*/

/*.flag {*/
    /*width: 150px;*/
    /*height: 150px;*/
/*}*/

.question {
    text-align: center;
}

.country {
    width: 450px;
    height: 350px;
}

input[type="radio"]:checked + label {
    box-shadow: 0px 18px 22px 1px #333;
}

label {
    margin-right: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

.not-active > span, #map-europe.not-active > ul > li > span {
    pointer-events: none;
    cursor: no-drop;
}

.noclick {
    pointer-events: none;
}