.question {
    text-align: center;
}

.country {
    width: 450px;
    height: 350px;
}

input[type="radio"]:checked + label {
    box-shadow: 0px 18px 22px 1px #333;
}

label {
    margin-right: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

.not-active > span, #map-europe.not-active > ul > li > span {
    pointer-events: none;
    cursor: no-drop;
}

.noclick {
    pointer-events: none;
}

.top-spacer {
    height: 5em;
}

.continents-spacer {
    height: 8em;
}

.nomargin {
    margin: 0 !important;
}

.special-center {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}